@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
    margin: 0;
}
.header{
    margin: 0 auto;
    width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    color: #021718;
}
.navi{
    margin-right: 120px;
    display: flex;
    align-items: center;
}
.navi span{
    margin-right: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #021718;
}

.container{
    margin: 0 auto;
    width: 1440px;
    height: 900px;
    background: url('./img/BG\ Shape.svg');
    background-color: #F5A05C;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
}
.description{
    margin-left: 120px;
}

.title{
    padding-top: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #021718;
}
.text{
    width: 418px;
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #021718;
}
.button{
    margin-top: 32px;
    width: 196px;
    height: 60px;
    background-color: #01847F;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFA;
    transition: 0.4s ease-in-out;
}
.button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #01847F;
}

.socials{
    margin-top: 178px;
    width: 451px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgWrapper{
    position: relative;
}

.mainImg{
    position: absolute;
    top: 127px;
    right: 124px;
    width: 500px;
    height: 500px;
    z-index: 1;
    filter: drop-shadow(0px 24px 48px rgba(0, 0, 0, 0.5));
    transition: 1s ease-in-out;
}
.mainImg:hover{
    transform: rotate(-5.47deg);
}

.greenBox{
    margin-right: 124px;
    margin-top: 127px;
    width: 500px;
    height: 500px;
    background-color: #44A1A0;
    transform: rotate(-5.47deg);
}